<!DOCTYPE html>
<html>
<head>
  <title>The Next Matrix Plots</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h3>By<a href="http://www.twitter.com/dmwoodall">Dave Woodall</a>at<a href="http://www.codeacademy.org">Code Academy</a>using<a href="http://www.rubyonrails.org">Ruby on Rails</a>.</h3>
</body>
</html>
